/* 每一个模块内容 */
.modular{
    margin:0 auto;
    text-align: center;
    padding:80px 0;
}
.modular.bg{
    background-color:#F4F6F9;
}
.modular .div_content{
    width:1200px;
    margin:0 auto;
}
.modular .s_title_ch{
font-size:32px;
font-weight:500;
color:rgba(51,51,51,1);
line-height:45px;
margin-bottom:40px;
text-align: left;
}

.modular .s_content{
    font-size:24px;
    font-weight:400;
    color:rgba(53,53,53,1);
    line-height:48px;
    }
/* 公司介绍 */
#company_introduction{
    background-image: url('../images/about_us.png');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}
#company_introduction .s_title_ch,#company_introduction .s_content{
    color:#fff;
    text-align: left;
}



.c_title{
    font-size:44px;
    font-weight:500;
    line-height:62px;
    margin-bottom:14px;
}

.a_list{
    display: flex;
    width:100%;
    margin-top:40px;
}
.a_left{
    width:250px;
}
.a_right{
    margin-left:24px;
    flex-shrink:1;
    text-align: left;
}
.a_title{
font-size:20px;
font-weight:500;
color:rgba(51,51,51,1);
line-height:28px;
}
.a_content{
font-size:16px;
font-weight:400;
color:rgba(153,153,153,1);
line-height:24px;
margin:8px 0 32px;
}
.a_time{
font-size:14px;
font-weight:400;
color:rgba(153,153,153,1);
line-height:20px;
}
.tips{
font-size:24px;
font-weight:400;
color:rgba(153,153,153,1);
line-height:33px;
margin-bottom:80px;
text-align: center;
min-width:1200px;
}